body{
    margin: 10px;
}

div{
    background: transparent;
}

.header-image{
    grid-area: image;
}

.header-name{
    grid-area: name
}

.header-name h4{
    font-size: 20px !important;
    margin-top: 0px !important;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

.header{
    background: #646464;
    background-image: url('./assets/pacctzsuaryc1nthibw7.jpg');
    background-size: cover;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    grid-template-rows: 30px 260px 100px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-areas:
    ". . ." 
    ". image ."
    ". name ."
}

.about-text{
    grid-area: about-text;
}

.image-svg{
    margin-top: 0px !important;
    grid-area: img-svg;
    background: url('./assets/home_page_tree.png');
    background-repeat: no-repeat;
}

.svg{
    grid-area: svg;
}

.svg-bottom{
    grid-area: svg-bottom;
    background: black !important;
    border-radius: 0px 0px 10px 10px;
    margin-top: 0px;
}

.about{
    display: grid;
    grid-template-rows: 10px 350px 200px 10px;
    grid-template-columns: 10vw 530px auto 440px 10vw;
    grid-row-gap: 0px;
    grid-column-gap: 10px;
    grid-template-areas:
    ". . . . ."
    ". about-text . img-svg ."
    "svg svg svg svg svg"
    "svg-bottom svg-bottom svg-bottom svg-bottom svg-bottom"
}

.projects{
    display: grid;
    grid-template-rows: 120px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    margin-top: 28px;
    margin-bottom: 30px;
}

.items{
    border-radius: 10px;
    /* box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28); */
    font-family: 'varela round';
}

.items a{
    color: black;
}

.items h6{
    font-weight: bold;
}

i{
    color: indigo;
    font-size: 19px;
    padding: 4px;
}

.by {
    text-decoration: none;
    right: 11px;
    bottom: 0;
    background-color: rgb(255, 71, 66);
    color: #fff;
    position: fixed;
    font-weight: 500;
    z-index: 18;
    border-top-left-radius: 5px;
    padding: 0.5em;
    border-top: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-top-right-radius: 5px;
    font-weight: 800;
    border-left: 1px solid #efefef;
    background: rgb(21, 32, 43);
    color: #6f6f6f;
}

.by i{
    color: rgb(29, 161, 242);
}

.by1 {
    text-decoration: none;
    right: 60px;
    bottom: 0;
    background-color: rgb(255, 71, 66);
    color: #fff;
    position: fixed;
    font-weight: 500;
    z-index: 18;
    border-top-left-radius: 5px;
    padding: 0.5em;
    border-top: 1px solid #efefef;
    font-weight: 800;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-top-right-radius: 5px;
    background: #0077B5;
    color: #6f6f6f;
}

.by1 i{
    color: white;
}


.by3 {
    text-decoration: none;
    right: 110px;
    bottom: 0;
    background-color: rgb(255, 71, 66);
    color: #fff;
    position: fixed;
    font-weight: 500;
    z-index: 18;
    border-top-left-radius: 5px;
    padding: 0.5em;
    border-top: 1px solid #efefef;
    font-weight: 800;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-top-right-radius: 5px;
    background: red;
    color: #6f6f6f;
}

.by3 i{
    color: white;
}

.by4 {
    text-decoration: none;
    right: 160px;
    bottom: 0;
    background-color: rgb(255, 71, 66);
    color: #fff;
    position: fixed;
    font-weight: 500;
    z-index: 18;
    border-top-left-radius: 5px;
    padding: 0.5em;
    border-top: 1px solid #efefef;
    font-weight: 800;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-top-right-radius: 5px;
    background: black;
    color: #6f6f6f;
}

.by4 i{
    color: white;
}


  /* media queries */

@media(max-width:1300px){
    .about{
        display: grid;
        grid-template-rows: 10px 350px 200px 10px;
        grid-template-columns: 1px 530px auto 1px;
        grid-row-gap: 0px;
        grid-column-gap: 10px;
        grid-template-areas:
        ". . . ."
        ". about-text img-svg ."
        "svg svg svg svg"
        "svg-bottom svg-bottom svg-bottom svg-bottom"
    }
}

@media(max-width:1020px){
    .about{
        display: grid;
        grid-template-rows: 10px 350px 200px 10px;
        grid-template-columns: 530px auto 2px;
        grid-row-gap: 0px;
        grid-column-gap: 0px;
        grid-template-areas:
        ". . ."
        "about-text img-svg ."
        "svg svg svg"
        "svg-bottom svg-bottom svg-bottom"
    }
}

@media(max-width:990px){
    .about{
        display: grid;
        grid-template-rows: 10px 350px 200px 10px;
        grid-template-columns: 330px auto;
        grid-row-gap: 0px;
        grid-column-gap: 0px;
        grid-template-areas:
        ". ."
        "about-text img-svg"
        "svg svg"
        "svg-bottom svg-bottom"
    }

    .projects{
        display: grid;
        grid-template-rows: 200px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        margin-top: 28px;
    }

}

@media(max-width:790px){
    .about{
        display: grid;
        grid-template-rows: 10px 300px 30px 70px 20px;
        grid-template-columns: auto;
        grid-row-gap: 0px;
        grid-column-gap: 0px;
        grid-template-areas:
        "."
        "about-text"
        "img-svg"
        "svg"
        "svg-bottom"
    }

    .image-svg{
        display: none;
        margin-top: 115px !important;
    }

    .svg{
        display: none;
    }

    .svg-bottom{
        display: none;
    }

    .header-name h4{
        font-size: 13px !important;
    }

    .projects{
        display: grid;
        grid-template-rows: 200px;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        margin-top: 28px;
    }
}

@media(max-width:450px){
    .header-image img{
        width: 155px !important;
    }
    .header-name h4{
        margin-top: -60px !important;
    }
}